* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(0, 0%, 98%);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    margin-top: 35px;
    text-align: center;
}

.header h1 {
    margin: 0 0 15px 0;
    color: hsl(234, 12%, 34%);
    font-size: 2rem;
    font-weight: 200;
}

.header h2 {
    margin: 0 0 15px 0;
    color: hsl(234, 12%, 34%);
    font-size: 2rem;
    font-weight: 600;
}

.header h6{
    margin: 0;
    color: hsl(229, 6%, 66%);
    line-height: 1.7;
}

.wrap {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.wrap .card {
    display: flex;
    max-width: 350px;
    height: 220px;
    margin-top: 30px;
    padding-right: 26px;
    padding-left: 26px;
    border-radius: 5px;
    color: hsl(234, 12%, 34%);
    font-size: 1.33rem;
    box-shadow: 0 8px 18px 3px rgba(0,0,0,0.13);
    box-sizing: border-box;
}

.wrap .card-cyan {
    border-top: 4px solid hsl(180, 62%, 55%);
}

.wrap .card-red {
    border-top: 4px solid hsl(0, 78%, 62%);
}

.wrap .card-orange {
    border-top: 4px solid hsl(34, 97%, 64%);
}

.wrap .card-blue {
    border-top: 4px solid hsl(212, 86%, 64%);
}

.card-title {
    margin-top: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.card-text {
    margin: 0;
    float: left;
    color: hsl(229, 6%, 66%);
    font-size: 0.86rem;
    line-height: 22px;
}

.card img {
    margin-top: 40px;
    width: 50px;
    height: 50px;
    margin-left: 220px;
}


@media (max-width: 1100px){
    .header {
        padding-right: 20px;
        padding-left: 20px;
    }

    .header h1 {
        font-size: 23px;
    }

    .header h2 {
        font-size: 22px;
    }

    .header h6 {
        font-size: 15px;
    }

    .wrap {
        flex-direction: column;    
    }

    .card img {
        margin-top: 30px;
        width: 50px;
        height: 50px;
        margin-left: 200px;
    }
}
